
body {
	/* background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/21c9ef89-26c3-4588-a492-5e15a2e5dbda/d6exro-3fb70b1b-41ad-42f8-9634-c9cf4231fa72.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzIxYzllZjg5LTI2YzMtNDU4OC1hNDkyLTVlMTVhMmU1ZGJkYVwvZDZleHJvLTNmYjcwYjFiLTQxYWQtNDJmOC05NjM0LWM5Y2Y0MjMxZmE3Mi5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.UQCvX4tA9a2Dwuy20yg2eInpYPy5APXFAGAWONzw1Kk'); */
	background: white;
}
img {
	height: 200px;
	width: 200px;
}
